<div style="background-color: #f2f2f2;">
		<div class="container" style="margin-top: 50px; padding-bottom: 40px;">

	<div class="row">
		<div class="col-lg-7 col-md-7">
			<div class="choose">
				<h3 id="chose">CHOOSE SEATS</h3>
			</div>
			<div class="iconname">
				<h5>AVAILABLE &nbsp;|&nbsp; <span>SELECT SEAT &nbsp;|&nbsp; </span><span>SOLD OUT</span></h5>
				<img src="Images/W_chair.png" alt="" style="margin-left: 25px;">
				<span style="margin-left: 75px;"><img src="Images/G_chair.png" alt=""></span>
				<span style="margin-left: 80px;"><img src="Images/B_chair.png" alt=""></span>
			</div>
    <div class="seat">
      <!-- <p></p><p>{{bookinglength1}}</p>
      <p>{{bookinglength2}}</p>
        <p>{{bookinglength3}}</p> -->

      <table id="tab">
        <tr>
          <td><div class="seat#"></div></td>
          <td><div class="seat1">1</div></td>
          <td><div class="seat1">2</div></td>
          <td><div class="seat1">3</div></td>
          <td><div class="seat1">4</div></td>
          <td><div class="seat1">5</div></td>
					<td><div class="seat1"></div></td>
					<td><div class="seat1"></div></td>
					<td><div class="seat1">6</div></td>
					<td><div class="seat1">7</div></td>
					<td><div class="seat1">8</div></td>
					<td><div class="seat1">9</div></td>
					<td><div class="seat1">10</div></td>
					<td><div class="seat1">11</div></td>
					<td><div class="seat1"></div></td>
					<td><div class="seat1"></div></td>
					<td><div class="seat1">12</div></td>
					<td><div class="seat1">13</div></td>
					<td><div class="seat1">14</div></td>
					<td><div class="seat1">15</div></td>
					<td><div class="seat1">16</div></td>
        </tr>

        <tr>
          <td><div class="seatA" id="H">H</div></td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="H1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="H2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="H3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="H4"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="H5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="H16"> </td>
        </tr>

        <tr>
          <td><div class="seatB" id="G">G</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="G2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="G3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="G4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="G16"> </td>
        </tr>
				<tr>
					<td>&nbsp;</td>
				</tr>

				<tr>
					<td><div class="seatC" id="F">F</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="F2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="F3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="F4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="F16"> </td>
				</tr>

				<tr>
					<td><div class="seatD" id="E">E</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="E2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="E3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="E4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="E16"> </td>
				</tr>

				<tr>
					<td><div class="seatE" id="D">D</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="D2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="D3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="D4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="D16"> </td>
				</tr>

				<tr>
					<td><div class="seatF" id="C">C</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="C2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="C3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="C4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="C16"> </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>

				<tr>
					<td><div class="seatG" id="B">B</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="B2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="B3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="B4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="B16"> </td>
				</tr>

				<tr>
					<td><div class="seatH" id="A">A</div></td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A1"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="A2"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="A3"> </td>
          <td><img src="Images/W_chair.png" alt="" class="seat2" id="A4"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A5"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A6"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A7"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A8"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A9"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A10"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A11"> </td>
					<td><img src="" alt=""> </td>
					<td><img src="" alt=""> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A12"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A13"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A14"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A15"> </td>
					<td><img src="Images/W_chair.png" alt="" class="seat2" id="A16"> </td>
				</tr>

      </table>
			<div class="screen">
				<img id="scree" src="Images/screen.png" alt="">
			</div>
    </div>
	</div>

<div class="col-lg-5 col-md-5">
  <!-- <div class="table" id="sdrop">
    <tr><td>How many Seats:</td>
      <td><select class="">
        <option value="">1</option><option value="">2</option>
        <option value="">3</option><option value="">4</option>
        <option value="">5</option></select></td>
    </tr>
  </div> -->

		<div id="uper"  style="border: 1px solid gray;">

			<div class="summary">
				<h3>MOVIE SUMMARY</h3>
			</div>
			<div class="" style="margin-top: 30px;">
				<h4>Movie Name&nbsp;:- {{movie}}</h4>
				<h4>Place &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:-&nbsp;{{tname}},&nbsp;{{tcity}}</h4>
				<h4>Date&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:- {{date}}</h4>
				<h4>Time&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:- {{time}}</h4>
			</div>
			<div id="info">
				<h3>MOVIE SEAT INFO</h3>
			</div>
			<div class="" style="margin-top: 30px;">
		    		<h4>Seat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:- <span id="sea"></span></h4>
		      	<h4>No. of seats &nbsp; &nbsp; &nbsp;:- <span id="num" class="sno">0</span></h4>
      			<h4>Ticket Amount &nbsp;:- <span id="num1" class="tam">0</span></h4>
		 </div>
     <div>
       <a href="/#/Payment">
       <button id="suk" type="button" name="button" ng-click="pay()">Book Movie</button>
       </a>
     </div>
		</div>
	</div>
</div>
</div>

  </div><br>
