<style media="screen">
  th{text-align: left;}
</style>
<link rel="stylesheet" href="css/custom.css">

<div class="container" >
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10" >
      <div class="">
        <h2 style="margin-top: 100px;">Hii {{cust}}, This is Your Movie Ticket.</h2>
      </div>

<div class="" id="trip">

  <div class="">
    <div class="row"><div class="col-sm-4">
      <img src="images/imgs.png" alt="" style="height: 50px; width: 50px; margin-bottom: -55px;">
    </div><div class="col-sm-8">
      <h2 style="margin-bottom: -22px; margin-left: -8px;" >MeraFilm.com</h2>
    </div>
  </div><hr style="border: 1px solid #000066;">
  <div class="row">
    <div class="col-md-4">
      <h4 style= "text-align: center; margin-top:0px; text-transform:uppercase;">{{movie}}</h4>
    </div>
      <div class="col-md-8">
        <h3 style="margin-top: -15px; margin-bottom: 20px; margin-left: -10px; text-decoration: underline;">Admission Tickets</h3>
      </div>
      </div>

    <div class="row">
      <div class="col-sm-4">
        <img src={{poster}} style="height: 170px; width: 170px;">
      </div>
      <div class="col-sm-4">

    <div class="table" style="margin-left: -10px;">
      <table>
        <tr>
          <th>{{movie}} </th>
        </tr>
        <tr>
          <th>{{tname}}, {{tcity}} </th>
        </tr>
        <tr>
          <th>seat:({{count121}}) | {{seatno121}}</th>
        </tr>
      <tr>
        <th>{{cust}}</th>
      </tr>
      <tr>
        <th>{{eid}}</th>
      </tr>
      <tr>
        <th>{{no}}</th>
      </tr>
      <tr>
        <th>{{date}} | {{time}}</th>
      </tr>
      <tr>
        <th>Rs. {{amount}}</th>
      </tr>
    </table>

    </div>
  </div>

  <div class="col-sm-4">
    <div class="" style="margin-left: 25px;">
    <h5>Ticket Price: Rs.{{amount}}</h5>
      <img src="images/barcode.jpg" alt="" style="height: 80px; width: 140px;">
    </div>
  </div>

  </div>
  </div>
</div>
</div>

</div>
</div>
